.login {
  background-color: gray;
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Second_div {
  background-color: aqua;
  width: 80%;
  padding: 20px;
  border-radius: 12px;
  position: absolute;
  bottom: 1rem;
}
.input_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  gap: 12px;
  margin-top: 30px;
}

.text_input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid whitesmoke;
  border: none;
  padding: 10px;
}

.header_login {
  display: flex;
  justify-content: start;
  padding-left: 1rem;
}
.icon_div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  gap: 8px;
  padding-bottom: 10px;
}
.pera-graph {
  padding-left: 9px;
}
.Login-icon {
  display: flex;
}
.log-btn {
  width: 100%;
  border: none;
  background-color: red;
  color: whitesmoke;
  padding: 5px;
  border-radius: 10px;
}
.login_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.last-con {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-message {
  color: red;
  font-size: 10px;
  margin: 0;
}
