

.main-accont {
    padding: 10px;
    position: relative;
}

.img_profile {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.main-div {
    text-align: center;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: 600;
    border-bottom: 1px solid #ddd; /* Add border between list items */
}

.Account-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.acount-sub {
    width: 100%;
    border-radius: 20px;
    color: #fff;
    background-color: red;
    height: 50px;
    border: none;
}

.Account_footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1); /* Add shadow to the footer */
}

@media (max-width: 768px) {
    .main-div {
        margin-bottom: 30px; /* Add space between profile and list items */
    }

    .Account-btn {
        top: 70%; /* Adjust position of button */}
}