.Pass {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  margin: 0;
  width: 100%;
  padding: 10px;
}
.Pass1 {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  width: 100%;
  padding: 10px;
}
.input-bar {
  height: 40px;
  /* width: 320px; */
  border: none;
  background-color: antiquewhite;
  border-radius: 20px;
  padding: 10px;
}
.per_text {
  font-size: 17px;
}


.input_conntent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.change-footer {
  display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 30px;
}

.change-btn{
  display: flex;
  justify-content: center;
  position: absolute;
  top: 68%;
  gap: 30px;
  width: 100%;
  
  border-radius: 10px;
  
  padding: 10px;
}
.chnage_sub{
  
    width: 100%;
   
    border-radius: 20px;
    color: #fff;
    background-color: red;  
    height: 40px;
    border: none;
}