.Hed{
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 10px;
    font-size: 20px;
    color: black;
    padding-left: 25px;
}
.re_name{
    font-size: 20px;
}

.img_food{
    height: 80px;
    width: 80px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.icon{
    display: flex;
    align-items: center;
    gap: 10px;
}
.doller{
    display: flex;
    flex-direction: column;
}
.like_doller{
    display: flex;
    gap:5px;
    align-items: center;
}
.dislike{
    color: red;
}

.footer_icon{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 30px;
}
.footer_icon:hover{
    cursor: pointer;
    color: brown;
}
.voucher-div{
    display: flex;
    flex-direction: column;
    gap:10px
}
.Review-footer{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 30px;
}
.review-btn{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 80%;
    gap: 30px;
    width: 100%; 
    border-radius: 10px;
    padding: 15px;
}
.btn-rev{
    width: 100%;
    border-radius: 20px;
    color: #fff;
    background-color: red;  
    height: 50px;
    border: none;
}